/* Estilo general para la página */
.order-page {
    padding: 20px;
}

/* Estilo del encabezado de la tabla */
.header-row th {
    background-color: rgb(13, 110, 253); /* Color del encabezado */
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilo de la tabla */
#orderTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

/* Estilo de las celdas de la tabla */
#orderTable th, #orderTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Estilo para el botón de acción */
.custom-button {
    color: rgb(0, 0, 0); /* Color del ícono y texto del botón */
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px; /* Ajuste del padding */
    border: 1px solid transparent; /* Borde transparente para evitar desplazamientos en el hover */
    border-radius: 5px; /* Bordes redondeados */
    transition: color 0.3s, background-color 0.3s; /* Transiciones suaves */
    background-color: transparent; /* Fondo transparente */
}

/* Estilo del ícono dentro del botón */
.custom-button i {
    font-size: 20px; /* Tamaño del ícono */
    margin-right: 5px; /* Espacio entre ícono y texto */
    display: inline-flex; /* Usar flexbox para centrar el ícono */
    align-items: center; /* Alinear verticalmente el ícono */
    justify-content: center; /* Centrar horizontalmente el ícono */
    width: 35px; /* Ancho del círculo */
    height: 35px; /* Alto del círculo */
    border-radius: 50%; /* Hacer el fondo circular */
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #009FE3; /* Borde celeste alrededor del ícono */
    color: #009FE3 /* Color del ícono */
}

/* Estilo del breadcrumb */
.breadcrumb {
    background-color: transparent;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 0.25rem;
}
    

/* Estilo del enlace del breadcrumb al pasar el mouse */
.breadcrumb .btn-link:hover {
    text-decoration: underline;
}

/* Separador entre elementos del breadcrumb */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #6c757d;
    padding: 0 5px;
}

/* Estilo de los elementos del breadcrumb */
.breadcrumb-item {
    font-weight: bold;
    color: black;
}

/* Estilo para la opción activa en el breadcrumb */
.activate {
    color: rgb(13, 110, 253);
}
