.order-page {
  padding: 20px;
}

.header-row th {
  background-color: rgb(13, 110, 253); /* Cambia esto al color del encabezado que desees */
  color: white;
  text-align: center;
  padding: 10px;
}

#orderTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

#orderTable th, #orderTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Estilo de los botones de acción */
.custom-button {
  color: rgb(13, 110, 253); /* Color de los iconos y texto de los botones */
  display: inline-block;
  width: 70px; /* Ancho del botón */
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
}

.custom-button i {
  font-size: 24px; /* Tamaño del ícono */
  margin-bottom: 5px;
  display: block;
}

.custom-button:hover {
  text-decoration: none;
  color: #0056b3; /* Cambia esto al color que desees para el hover */
}

/* Estilo de la imagen dentro del botón */
.action-icon {
  width: 34px; /* Ajusta el tamaño de la imagen */
  height: 34px; /* Ajusta el tamaño de la imagen */
  display: block;
  margin: 0 auto 5px; /* Centrando la imagen y añadiendo margen inferior */
  border: solid rgb(13, 110, 253);
  border-radius: 25px;
  padding: 5px;
}

/* Estilo del breadcrumb */
.breadcrumb {
  background-color: transparent;
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 0.25rem;
}

.breadcrumb .btn-link {
  color: rgb(13, 110, 253); /* Color del breadcrumb */
  text-decoration: none;
}

.breadcrumb .btn-link:hover {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #6c757d;
  padding: 0 5px;
}

li {
  font-weight: bold;
  color: black;
}

/* para que opción donde se está navegando tenga un color diferente */
.activate {
  color: rgb(13, 110, 253);
}
