.header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box; 
}

.logo {
    width: 100px;
}

.sidebar {
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    width: 220px;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.sidebar button {
    width: 100%;
    text-align: left;
    color: #007bff;
    padding: 10px 15px;
    border: none;
    background: none; 
}

.sidebar button:hover {
    background-color: #e9ecef;
}

.main-content {
    height: calc(100vh - 80px);
    overflow-y: auto;
    flex-grow: 1; 
    padding: 20px; 
}

.content {
    background-color: #f8f9fa;
    padding: 20px; 
    border-radius: 10px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 0.5rem;
    display: block;
    min-width: 10rem;
    padding: 0.5rem 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
