.breadcrumb-nav {
    margin-bottom: 20px;
}
.despacho-button {
    display: flex;
    border:solid 1px black;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(to bottom, rgb(0,159,235,40%), rgb(0,159,227,100%), rgb(62, 36, 56,80%));
    background-size:cover;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;

    height: 65px; /* Ajusta esto según tus necesidades */
}
.button-container {
    display: flex;
    flex-direction: column; /* Cambiado a columna */
    align-items: center; /* Centrado horizontalmente */
    gap: 20px;
    margin-top: 20px;
}

.despacho-button:hover {
    opacity: 0.9;
}

.button-icon {
    font-size: 24px;
    margin-right: 15px;
    color: white;
}

.despacho-button span {
    color: white;
    font-weight: bold;
}