.installed-base {
    padding: 20px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #fff;
}

.info-item {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: 10px 0;
}

.info-item h3, .info-item a {
    font-size: 16px;
}

@media (min-width: 768px) {
    .info-section {
        flex-direction: row;
    }

    .info-item {
        flex: 1;
        margin: 0 10px;
    }
}

.installed-base {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certificado-content {
    margin-top: 20px;
}

.certificado-content p {
    margin-bottom: 10px;
}

.certificado-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.back-link {
    margin-top: 20px;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}

.download-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007BFF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

.download-button svg {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

