header {
    background-image: url(istockphoto-1247728289-1024x1024-transformed\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    margin: 10px 20px;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  main {
    padding: 20px;
  }

  h2 {
    color: #007bff;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    background: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1, p {
    margin: 4vw;
  }